<br>

<div class="container">
    <h1>Create a New Restaurant</h1>
    <a routerLink="/restaurants">Back to Lists</a>
</div>

<br>

<div class="container">
    <div class="row half-width">
        <!-- #newRestoForm is a variable -->
        <form (ngSubmit)="processForm(newRestoForm)" #newRestoForm="ngForm">
            <div class="form-group">
                <label for="resto-name">Restaurant Name:</label>
                <input class="form-control" [(ngModel)]="restaurant.name" type="text" id="resto-name" name="resto-name" [placeholder]="placeholders.name" required>
            </div>

            <br>

            <div class="form-group">
                <label for="resto-city">City:</label>
                <input class="form-control" type="text" id="resto-city" name="resto-city" [(ngModel)]="restaurant.city" [placeholder]="placeholders.city" required>
            </div>

            <br>

            <div class="form-group">
                <label for="resto-state">State:</label>
                <input class="form-control" type="text" id="resto-state" name="resto-state" [(ngModel)]="restaurant.state" [placeholder]="placeholders.state" required>
            </div>

            <div class="form-group">
                <div *ngIf="displayFormSubmitError" style="color: red">
                    <br>
                    There's something wrong with your form
                </div>

                <br>

                <input type="submit" value="Create" class="btn btn-success">
            </div>
        </form>
    </div>
</div>