<br>

<div class="container">
    <h1>Name: {{resto.name}}</h1>
    <h3>Location: {{resto.city}}, {{resto.state}}</h3>

    <br>

    <h2>Reviews</h2>
    <table class="table table-hover" *ngIf="resto.reviews !== null && resto.reviews.length > 0; else noReviews">
        <thead>
            <th>Rating</th>
            <th>Note</th>
        </thead>
        <tbody>
            <tr *ngFor="let review of resto.reviews">
                <td>{{review.rating}}</td>
                <td>{{review.msg}}</td>
            </tr>
        </tbody>
    </table>
    <ng-template #noReviews>This restaurant has no reviews yet...</ng-template>

    <br>
    <br>
    
    <a routerLink="/restaurants">Back to list</a>
</div>

